# Insurance stats, core questionare base

Major caveat: it's impossible to tell why some questions were left blank. Some speculation is necessary (e.g. does blank mean no?)

In [98]:
import pandas as pd

In [99]:
arf_df = pd.read_csv("./PRAMS ARF/csv/phase8_arf_2016_2021.csv")
op_blwthr_df = pd.read_csv("./Opioid Supp/phase8_sup_opioid_blwthr.csv")


iso_abusers = pd.read_csv("./isolated_abusers.csv")

print(arf_df.shape)
print(iso_abusers.shape)

C:\Users\Vince\AppData\Local\Temp\ipykernel_18088\490618180.py:1: DtypeWarning: Columns (457,460,461,462,463,464) have mixed types. Specify dtype option on import or set low_memory=False.
  arf_df = pd.read_csv("./PRAMS ARF/csv/phase8_arf_2016_2021.csv")

(221381, 484)
(4363, 1)

In [100]:
arf_iso = pd.concat([arf_df, op_blwthr_df])
arf_iso = arf_iso[arf_iso["ID"].isin(iso_abusers["ID"])]

backup = arf_iso.copy()

print(f"{arf_iso.shape[0]} abusers")

4363 abusers

In [101]:
cols_9s = [
    "INSWORK8",
    "INSPAR",
    "INSHCEX",
    "INSMED",
    "INSCHIP",
    "INSGOV",
    "INSGOV2",
    "INSMIL",
    "INSIHS",
    "INSOTH"
]

cols_10s = [
    "PP8_WORK_RAW",
    "PP8_PAR_RAW",
    "PP8_HCEX_RAW",
    "PP_MEDIC_RAW",
    "PP_CHIP_RAW",
    "PP_GOV_RAW",
    "PP_GOV2_RAW",
    "PP_MILIT_RAW",
    "PP_IHS_RAW",
    "PP_OTH_RAW"
]

cols_11s = [
    "HI_WORK8",
    "HI_PAR",
    "HI_HCEX",
    "HI_MEDIC",
    "HI_CHIP",
    "HI_GOV",
    "HI_GOV2",
    "HI_MILIT",
    "HI_IHS",
    "HI_OTH"
]

cols_all = cols_9s + cols_10s + cols_11s

In [102]:
cols_never = [
    "INSNONE",
    "PP_NONE_RAW",
    "HI_NONE"
]

In [103]:
cols_TF = [
    "Before",
    "During",
    "After"
]

arf_iso[cols_TF] = False

## Skipped insurance section

In [104]:
df_blank = arf_iso[arf_iso[cols_all + cols_never].isna().all(axis=1)].copy()
df_blank[["ID"] + cols_all + cols_never]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH,INSNONE,PP_NONE_RAW,HI_NONE
127957,2019ND026080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021MD270043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,2021MD271067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,2021MD275054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,2021MD275055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5598,2020NV037115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5622,2020NV038114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5664,2020NV040079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5755,2020NV042110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5767,2020NV043091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
print(f"{df_blank.shape[0]} women skipped the insurance section")

152 women skipped the insurance section

Remove skipped from dataset

In [106]:
print(arf_iso.shape)
arf_iso = arf_iso.drop(df_blank.index)
print(arf_iso.shape)

(4363, 572)
(4211, 572)

In [107]:
print(f"{arf_iso.shape[0]} women answered parts the insurance section")

4211 women answered parts the insurance section

## Insured Before pregnancy

In [108]:
df_before = arf_iso[(
    arf_iso[cols_9s].eq(2).any(axis=1)
)].copy()

df_before["Before"] = True

# df_before[["ID"] + cols_9s + cols_TF]

In [109]:
print(f"{df_before.shape[0]} women insured before pregnancy")

3608 women insured before pregnancy

In [110]:
arf_iso.loc[df_before.index, "Before"] = True

arf_iso[["ID"] + cols_9s + cols_TF]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,INSOTH,Before,During,After
31,2016AK327057,1.0,1.0,1.0,1.0,NaN,NaN,NaN,2.0,2.0,1.0,True,False,False
39,2016AK327072,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,2.0,1.0,True,False,False
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,False,False
89,2016AK327148,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,False,False,False
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,False,False
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,False,False
220048,2021WY176009,1.0,1.0,2.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,False,False
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,False,False
220113,2021WY177072,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,False,False

In [111]:
arf_iso[
    arf_iso["Before"].eq(True)
].shape[0]

3608

## Insured During pregnancy

In [112]:
df_during = arf_iso[(
    arf_iso[cols_10s].eq(2).any(axis=1)
)].copy()

df_during["During"] = True

# df_during[["ID"] + cols_10s + cols_TF]

In [113]:
print(f"{df_during.shape[0]} women insured during pregnancy")

3895 women insured during pregnancy

In [114]:
arf_iso.loc[df_during.index, "During"] = True

arf_iso[["ID"] + cols_10s + cols_TF]

,ID,PP8_WORK_RAW,PP8_PAR_RAW,PP8_HCEX_RAW,PP_MEDIC_RAW,PP_CHIP_RAW,PP_GOV_RAW,PP_GOV2_RAW,PP_MILIT_RAW,PP_IHS_RAW,PP_OTH_RAW,Before,During,After
31,2016AK327057,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0,True,True,False
39,2016AK327072,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0,True,True,False
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,True,False
89,2016AK327148,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,False,True,False
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,False
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,True,False
220048,2021WY176009,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,False
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,False
220113,2021WY177072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False

In [115]:
arf_iso[
    arf_iso["During"].eq(True)
].shape[0]

3895

## Insured After pregnancy

In [116]:
df_after = arf_iso[(
    arf_iso[cols_11s].eq(2).any(axis=1)
)].copy()

df_after["After"] = True

df_after[["ID"] + cols_11s + cols_TF]

,ID,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH,Before,During,After
31,2016AK327057,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0,True,True,True
39,2016AK327072,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0,True,True,True
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,True,True
89,2016AK327148,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,False,True,True
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,True
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,True,True
220048,2021WY176009,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,True
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,True
220113,2021WY177072,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,False,True

In [117]:
print(f"{df_after.shape[0]} women insured after pregnancy")

3821 women insured after pregnancy

In [118]:
arf_iso["After"] = False
# arf_iso["Before"].loc[df_before.index] = True
arf_iso.loc[df_after.index, "After"] = True
arf_iso[["ID"] + cols_11s + cols_TF]

,ID,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH,Before,During,After
31,2016AK327057,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0,True,True,True
39,2016AK327072,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0,True,True,True
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,True,True
89,2016AK327148,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,False,True,True
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,True
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,True,True
220048,2021WY176009,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,True
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,True,True,True
220113,2021WY177072,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0,True,False,True

In [119]:
arf_iso[
    arf_iso["After"].eq(True)
].shape[0]

3821

## NOT insured during pregnancy

In [120]:
df_not_during = arf_iso[(
    arf_iso[cols_10s].ne(2).all(axis=1)  # 1's or blanks in 10s
)].copy()

df_not_during[["ID"] + cols_10s]

,ID,PP8_WORK_RAW,PP8_PAR_RAW,PP8_HCEX_RAW,PP_MEDIC_RAW,PP_CHIP_RAW,PP_GOV_RAW,PP_GOV2_RAW,PP_MILIT_RAW,PP_IHS_RAW,PP_OTH_RAW
546,2016AK333142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28585,2016WV338026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28789,2016WV341007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28930,2016WV343038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31152,2017AK345013,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
219619,2021WV403005,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0
219705,2021WY167010,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
219769,2021WY168057,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
219940,2021WY173032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220113,2021WY177072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
print(f"{df_not_during.shape[0]} women NOT insured during pregnancy")

316 women NOT insured during pregnancy

In [122]:
arf_iso[
    arf_iso["During"].eq(False)
].shape[0]

316

## During only

In [123]:
df_during_only = arf_iso[(
    arf_iso[cols_9s].ne(2).all(axis=1) &
    arf_iso[cols_10s].eq(2).any(axis=1) &
    arf_iso[cols_11s].ne(2).all(axis=1)
)].copy()


df_during_only[["ID"] + cols_9s + cols_10s + cols_11s]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
326,2016AK331121,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
8139,2016LA232100,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
14180,2016MO108047,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0
28421,2016WV335059,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0
29070,2016WY108045,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217555,2021WA334060,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
217560,2021WA334066,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
218044,2021WA339025,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
218145,2021WA340031,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
219805,2021WY169045,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0

In [124]:
print(f"{df_during_only.shape[0]} women only insured during pregnancy")

146 women only insured during pregnancy

In [125]:
arf_iso[
    arf_iso["Before"].eq(False) &
    arf_iso["During"].eq(True) &
    arf_iso["After"].eq(False)
].shape[0]

146

## During and After, not before

In [126]:
df_during_after_not_before = arf_iso[(
    arf_iso[cols_9s].ne(2).all(axis=1) &
    arf_iso[cols_10s].eq(2).any(axis=1) &
    arf_iso[cols_11s].eq(2).any(axis=1)
)].copy()


df_during_after_not_before[["ID"] + cols_9s + cols_10s + cols_11s]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
89,2016AK327148,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
785,2016AK336050,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
8269,2016LA234077,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,NaN,1.0
8271,2016LA234079,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,NaN,1.0
8890,2016LA242122,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219067,2021WV392002,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0
219329,2021WV397043,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0
219421,2021WV399005,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,1.0
219737,2021WY167067,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
219932,2021WY173019,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,2.0,NaN,NaN,1.0,1.0,1.0

In [127]:
print(f"{df_during_after_not_before.shape[0]} women only insured during and after pregnancy")

296 women only insured during and after pregnancy

In [128]:
arf_iso[
    arf_iso["Before"].eq(False) &
    arf_iso["During"].eq(True) &
    arf_iso["After"].eq(True)
].shape[0]

296

## Insured before and during, not after

In [129]:
df_before_during_not_after = arf_iso[(
    arf_iso[cols_9s].eq(2).any(axis=1) &
    arf_iso[cols_10s].eq(2).any(axis=1) &
    arf_iso[cols_11s].ne(2).all(axis=1)
)].copy()


df_before_during_not_after[["ID"] + cols_9s + cols_10s + cols_11s]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
520,2016AK333096,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
18609,2016NM220140,1.0,1.0,1.0,2.0,1.0,1.0,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0
25175,2016VT180065,1.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
28590,2016WV338032,2.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0
28706,2016WV339108,1.0,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213218,2021SD064010,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0
217174,2021WA330035,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
217230,2021WA330136,2.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
217804,2021WA336182,2.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
220019,2021WY175029,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0

In [130]:
print(f"{df_before_during_not_after.shape[0]} women only insured before and during pregnancy")

134 women only insured before and during pregnancy

In [131]:
arf_iso[
    arf_iso["Before"].eq(True) &
    arf_iso["During"].eq(True) &
    arf_iso["After"].eq(False)
].shape[0]

134

## Insured during and after

In [132]:
df_during_after = arf_iso[(
    arf_iso[cols_10s].eq(2).any(axis=1) &
    arf_iso[cols_11s].eq(2).any(axis=1)
)].copy()


df_during_after[["ID"] + cols_9s + cols_10s + cols_11s]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
31,2016AK327057,1.0,1.0,1.0,1.0,NaN,NaN,NaN,2.0,2.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
39,2016AK327072,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
89,2016AK327148,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219985,2021WY174044,1.0,2.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,2.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0
220048,2021WY176009,1.0,1.0,2.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0

In [133]:
print(f"{df_during_after.shape[0]} women insured during and after pregnancy")

3615 women insured during and after pregnancy

In [134]:
arf_iso[
    arf_iso["During"].eq(True) &
    arf_iso["After"].eq(True)
].shape[0]

3615

## Lost insurance after pregnancy

In [135]:
df_lost = arf_iso[(
    arf_iso[cols_10s].eq(2).any(axis=1) &
    arf_iso[cols_11s].ne(2).all(axis=1)
)].copy()


df_lost[["ID"] + cols_9s + cols_10s + cols_11s]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
326,2016AK331121,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
520,2016AK333096,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
8139,2016LA232100,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
14180,2016MO108047,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0
18609,2016NM220140,1.0,1.0,1.0,2.0,1.0,1.0,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217804,2021WA336182,2.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
218044,2021WA339025,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
218145,2021WA340031,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
219805,2021WY169045,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
220019,2021WY175029,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0

In [136]:
print(f"{df_lost.shape[0]} women lost insurance after pregnancy")

280 women lost insurance after pregnancy

In [137]:
arf_iso[
    arf_iso["During"].eq(True) &
    arf_iso["After"].eq(False)
].shape[0]

280

## Insurance at any point: before, during, or after

In [138]:
df_any_point = arf_iso[arf_iso[cols_all].eq(2).any(axis=1)].copy()
df_any_point[["ID"] + cols_all]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
31,2016AK327057,1.0,1.0,1.0,1.0,NaN,NaN,NaN,2.0,2.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
39,2016AK327072,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
89,2016AK327148,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0
220048,2021WY176009,1.0,1.0,2.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
220113,2021WY177072,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0

In [139]:
print(f"{df_any_point.shape[0]} women insured at any point")

4117 women insured at any point

In [140]:
arf_iso[
    arf_iso["Before"].eq(True) |
    arf_iso["During"].eq(True) |
    arf_iso["After"].eq(True)
].shape[0]

4117

## Insurance at all points: before, during, and after

In [141]:
df_all_points = arf_iso[(
    arf_iso[cols_9s].eq(2).any(axis=1) &
    arf_iso[cols_10s].eq(2).any(axis=1) &
    arf_iso[cols_11s].eq(2).any(axis=1)
)].copy()


df_all_points[["ID"] + cols_9s + cols_10s + cols_11s]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_WORK8,HI_PAR,HI_HCEX,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH
31,2016AK327057,1.0,1.0,1.0,1.0,NaN,NaN,NaN,2.0,2.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
39,2016AK327072,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,2.0,1.0
74,2016AK327130,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
200,2016AK330064,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0
298,2016AK331079,2.0,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,...,2.0,2.0,2.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219985,2021WY174044,1.0,2.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,2.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
220041,2021WY175065,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
220047,2021WY176005,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,2.0,1.0
220048,2021WY176009,1.0,1.0,2.0,1.0,1.0,NaN,NaN,1.0,1.0,...,1.0,1.0,1.0,2.0,1.0,NaN,NaN,1.0,1.0,1.0
220081,2021WY176062,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,...,2.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0

In [142]:
print(f"{df_all_points.shape[0]} women insured at all points")

3319 women insured at all points

In [143]:
arf_iso[
    arf_iso["Before"].eq(True) &
    arf_iso["During"].eq(True) &
    arf_iso["After"].eq(True)
].shape[0]

3319

## Never insured

In [144]:
df_never = arf_iso[(
    arf_iso[cols_never].eq(2).all(axis=1)  # &
    # arf_iso[cols_9s].ne(2).all(axis=1) &
    # arf_iso[cols_10s].ne(2).all(axis=1) &
    # arf_iso[cols_11s].ne(2).all(axis=1)
)].copy()


df_never[["ID"] + cols_never]

                  ID  INSNONE  PP_NONE_RAW  HI_NONE
108059  2019AL321054      2.0          2.0      2.0
110241  2019CO271028      2.0          2.0      2.0
111936  2019GA302106      2.0          2.0      2.0
112212  2019GA307042      2.0          2.0      2.0
113962  2019IA105068      2.0          2.0      2.0
...              ...      ...          ...      ...
195361  2021KS052028      2.0          2.0      2.0
195461  2021KS053029      2.0          2.0      2.0
203906  2021ND048073      2.0          2.0      2.0
213198  2021SD063136      2.0          2.0      2.0
213275  2021SD064101      2.0          2.0      2.0

[61 rows x 4 columns]

In [145]:
print(f"{df_never.shape[0]} women were never insured")

61 women were never insured

### 1's vs NaNs for Never Insured

In [146]:
arf_iso[(
    arf_iso[cols_never].ne(2).all(axis=1) &
    (arf_iso[cols_9s].ne(2).all(axis=1) &
     arf_iso[cols_10s].ne(2).all(axis=1) &
     arf_iso[cols_11s].ne(2).all(axis=1))
)][["ID"] + cols_all + cols_never]


# arf_iso[["ID"] + cols_never]

,ID,INSWORK8,INSPAR,INSHCEX,INSMED,INSCHIP,INSGOV,INSGOV2,INSMIL,INSIHS,...,HI_MEDIC,HI_CHIP,HI_GOV,HI_GOV2,HI_MILIT,HI_IHS,HI_OTH,INSNONE,PP_NONE_RAW,HI_NONE
39706,2017KY006012,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
90609,2018NM241062,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0
100981,2018VT203062,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
110670,2019DC030080,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,...,1.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0
112066,2019GA305022,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
119914,2019MA153142,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,...,1.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0
120153,2019MD246116,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
134489,2019OR203308,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
135046,2019OR206189,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
135526,2019OR209002,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
136545,2019PA138150,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
137042,2019PA143009,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
139099,2019RI202068,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,...,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
139801,2019SD031092,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
140137,2019SD035067,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
140901,2019TN148009,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,...,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0
144806,2019WA307065,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
159102,2020KS046035,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
159105,2020KS046042,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,...,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0
212615,2021SD057058,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
219619,2021WV403005,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0

In [147]:
arf_iso[
    arf_iso["Before"].eq(False) &
    arf_iso["During"].eq(False) &
    arf_iso["After"].eq(False)
].shape[0]

94

# Save groups to csv

In [148]:
import os

if not os.path.exists("./Cohorts"):
    os.makedirs("./Cohorts")

df_any_point.to_csv("./Cohorts/any_points.csv", index=False)
df_all_points.to_csv("./Cohorts/all_points.csv", index=False)

df_before.to_csv("./Cohorts/before.csv", index=False)  # newest
df_during.to_csv("./Cohorts/during.csv", index=False)  # newer
df_after.to_csv("./Cohorts/after.csv", index=False)  # newest

df_not_during.to_csv("./Cohorts/not_during.csv", index=False)  # newer
df_during_only.to_csv("./Cohorts/during_only.csv", index=False)

df_during_after_not_before.to_csv("./Cohorts/during_after_not_before.csv", index=False)
df_before_during_not_after.to_csv("./Cohorts/before_during_not_after.csv", index=False)
df_during_after.to_csv("./Cohorts/during_after.csv", index=False)

df_lost.to_csv("./Cohorts/lost.csv", index=False)
df_never.to_csv("./Cohorts/never.csv", index=False)

# Testing